* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: sans;
}

.header {
    display: flex;
    justify-content: center;
    background-color: #1f2937;
    height: 648px;
    width: 100%;
}

.header .container {
    width: 70%;
}

.header .navbar {
    display: flex;
    justify-content: space-between;
}

.header .logo a{
    font-size: 24px;
    font-weight: bold;
    color: #f9faf8;
}

.header .navbar a {
    text-decoration: none;
}

.header ul {
    display: flex;
    list-style-type: none;
}

.header li {
    margin-left: 40px;
}

.header li a {
    color: #e5e7eb;
}