/* CSS Reset */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Arial", sans-serif; /* You can change it to the font you're using */
}

.some-width {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

/* Hero section */
.dark-background {
  background-color: #1f2937;
}

.white-text {
  color: #f9faf8;
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar > p {
  font-size: 24px;
}

.navbar > ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

.navbar > ul li {
  padding: 0px 10px;
  font-size: 18px;
  color: #e5e7eb;
}

.hero {
  display: flex;
  flex-direction: column;
  gap: 100px;
  padding-bottom: 150px;
}

/* Main section */
.main {
  display: flex;
  justify-content: space-between;
  gap: 50px;
}

.left > p:first-of-type {
  font-size: 48px;
  font-weight: bolder;
  color: #f9faf8;
}

.left > p:nth-of-type(2) {
  font-size: 18px;
  color: #e5e7eb;
  margin-top: 5px;
}

.left button {
  background-color: #3882f6;
  border-style: none;
  padding: 0.5em 1.5em 0.5em 1.5em;
  border-radius: 6px;
  color: #f9faf8;
  font-weight: bold;
  margin-top: 5px;
}

.right {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #6d747d;
  width: 80%;
}

/* Information section */
.information {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
  padding-bottom: 150px;
}

.information > .heading {
  font-size: 36px;
  font-weight: bolder;
  color: #1f2937;
  margin-bottom: 50px;
}

.information .pictures {
  padding: 0 150px;
  display: flex;
}

.information .pictures div {
  margin: 10px;
}

.information .pictures div > div {
  height: 200px;
  border: #3882f6 solid 4px;
  border-radius: 20px;
  margin-bottom: 5px;
}
.information .pictures div > p {
  text-align: center;
  color: #4b5563;
}

/* Quote */
.quote-container {
  background-color: #e5e7eb;
}

.quotes {
  padding: 150px;
}

.quote > p {
  text-align: justify;
  font-weight: lighter;
  font-size: 36px;
  font-style: italic;
  color: #1f2937;
}

.quotes > p {
  font-size: 20px;
  font-weight: bolder;
  text-align: end;
  color: #1f2937;
}

/* Banner Section */
.signup {
  background-color: #3882f6;
  margin-top: 100px;
  margin-bottom: 100px;
  border-radius: 10px;
}

.banner {
  display: flex;
  justify-content: space-between;
  padding-top: 50px;
  padding-bottom: 50px;
  padding-left: 100px;
  padding-right: 100px;
}

.banner button {
  background-color: #3882f6;
  border: #f9faf8 solid 3px;
  padding: 0.5em 1.5em 0.5em 1.5em;
  border-radius: 8px;
  color: #f9faf8;
  font-weight: bold;
  margin-top: 5px;
}

/* Footer */
.footer {
    text-align: center;
}